<link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home<!--title-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-title>Your favourite colour: {{myStatus}}</ion-title>
  <br>
  <!--<ion-button [routerLink]="['/status']">Favourite Colour</ion-button> router button will send user to the status page-->
  <br>
  <ul>
    <li [routerLink]="['/status']">Favourite Colour!</li>
    <li [routerLink]="['/plugin']">Plugin Page!</li><!--router link sends user to my plugin page-->
    <li [routerLink]="['/movie']">Movie Page!</li>
  </ul>
</ion-content>

