<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Page!</ion-title><!--title-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ul>
    <li *ngFor="let x of myMovies">
      {{x.Title}}, {{x.Year}}
      <img [src]="x.Poster" alt="movie poster" />
    </li>
  </ul>> -->
  
  <!--loops through movie array-->
  <ion-card *ngFor="let movie of movies">
    <img src="{{movie.Poster}}"><!--display movie poster-->
    <ion-card-header>
    <ion-card-subtitle>{{movie.Title}}</ion-card-subtitle><!--display movie title-->
    <ion-card-title>{{movie.Year}}</ion-card-title><!--display movie year-->
    </ion-card-header>
    </ion-card>
  </ion-content>
